@import "tailwindcss";

:root {
  --background: #f8fafc; /* abu muda */
  --foreground: #0b1e3d; /* navy Craftopia */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

* {
  scroll-behavior: smooth;
}
@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-scaleIn {
  animation: scaleIn 0.2s ease-out;
}
